.hero {
    width: 100%;
}

.hero_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding-top: 2.1rem;
}

.hero__h2 {
    font-size: 3.5rem;
}

.hero__h2 span {
    color: var(--primary400base);
}

.hero__countries {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1.75rem;

    > button {
        background-color: #F4F4F4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.69rem 0rem 0.69rem 0rem;
        gap: .5rem;
        border: 1px solid #F4F4F4;
        background-color: var(--neutral100);
        outline: none;
        color: var(--black);
        font-weight: 600;
        border-radius: .5rem;
        transition: 0.08s;
    }
}

.hero__countries button img {
    width: 1.3rem;
    height: .8rem;

    > img {
        object-fit: cover;
    }
}

.hero__countries button:hover {
    background-color: var(--neutral400);
    color: var(--neutral700);
    transition: 0.08s;
}

.hero__services {
    width: 100%;
    height: 25.5rem;
    display: grid;
    grid-template-columns: 3fr, 1fr, 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "services partners aboutus"
    "services partners comments";
    column-gap: 1%;
    row-gap: 3%;
}

.hero__service_box {
    background-color: var(--primary400base);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;

    > span {
        color: var(--black);
        font-size: 2rem;
        font-weight: 700;
    }

    > a {
        padding: .4rem 1.7rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary400base);
        font-size: 1.5rem;
        border-radius: .5rem;
        transition: 0.2s
    }
}


.hero__service_box a:hover {
    color: var(--black);
    transition: 0.2s
}


.hero__service_box:nth-child(1) {
    grid-area: services;
    width: 100%;
    background-image: url('./../../assets/images/truck.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.hero__service_box:nth-child(2) {
    grid-area: partners;
    width: 100%;

    > a {
        margin-left: auto;
    }
}

.hero__service_box:nth-child(3) {
    grid-area: aboutus;
    width: 100%;
    > a {
        margin-left: auto;
    }
}

.hero__service_box:nth-child(4) {
    grid-area: comments;
    width: 100%;
    > a {
        margin-left: auto;
    }
}

@media (max-width: 869px) {
    .hero__h2 {
        text-align: center;
        font-size: 3rem;
    }

    .hero__countries {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.5rem;
    }

    .hero__services {
        grid-template-areas: 
        "services"
        "partners"
        "comments"
        "aboutus";
        height: 100%;
    }

    .hero__service_box {
        gap: 2.5rem;
    }
}

@media (max-width: 607px) {
    .hero__service_box  span {
        font-size: 1.5rem;
    }
}

@media (max-width: 639px) {
    .hero__h2 {
        font-size: 2rem;
    }

    .hero__countries {
        row-gap: 0.75rem;
    }
}

@media (max-width: 491px) {
    .hero__service_box:nth-child(1) {
        background-size: 50%;
    }

}

