.waomedia__main {
    width: 100%;

    > .container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding-top: 1.5rem;
    }
}

.waomedia__line {
    width: 3.25rem;
    border: 0.06rem solid var(--primary400base);
}

.waomedia__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
}

.waomedia__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.waomedia__top_label {
    font-size: 2rem;
font-weight: 600;
}

.waomedia__bottom {
    width: 100%;
}

.waomedia__bottom_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    row-gap: 2.5rem;
}

.media__paginate {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;

    > li {
        border: 0.06rem solid rgb(215, 223, 233);
        padding: 0.2rem 0.6rem;
        font-size: 1rem;
        cursor: pointer;
    }

    > li.previous {
        border-radius: 0.38rem 0rem 0rem 0.38rem;
        font-size: 0.88rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > li.next {
        border-radius: 0.38rem 0rem 0rem 0.38rem;
        font-size: 0.88rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > li.active {
        background-color: var(--primary400base);
        color: var(--white);
    }
}

.waomedia__pagination {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 2.5rem;
}

/* ! Responsive */

@media (max-width: 1260px) {
    .waomedia__bottom_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 853px) {
    .waomedia__bottom_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .waomedia__pagination {
        justify-content: start;
    }
}
