.main__c-comment {
    width: 100%;
}

.c-comments__inner {
    padding-top: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.c-comments__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-comments__top_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 50%;
}

.c-comments__top_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: end;
}

.c-comments__totalrev {
font-size: 1.5rem;
font-weight: 600;
color: var(--black);
}

.c-comments__count {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--black);
}

.c-comments__label {
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
}

.c-comments__label_desc {
    color: var(--black);
    color: #2D2D2D;
    font-weight: 400;
    font-size: 1rem;
}


.c-comments__container {
    width: 100%;
    position: relative;
}

@media (max-width:734px) {
    .c-comments__top_left  {
        width: 100%;
    }

    .c-comments__top {
        flex-direction: column;
        align-items: start;
        gap: 1.3rem;
    }

    .c-comments__label_desc {
        width: 100%;
    }

    .c-comments__top_right {
        flex-direction: column;
        align-items: start;
    }
}


@media (max-width:465px) {
    .c-comments__label {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

    .c-comments__label_desc {
        font-size: 0.88rem;
        text-align: center;
    }

    .c-comments__top_right {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}