.main__c-comment {
    width: 100%;
}

.c-comments__inner {
    padding-top: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.c-comments__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-comments__top_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 50%;
}

.c-comments__top_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: end;
}

.c-comments__totalrev {
font-size: 1.5rem;
font-weight: 600;
color: var(--black);
}

.c-comments__count {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--black);
}

.c-comments__label {
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
}

.c-comments__label_desc {
    color: var(--black);
    color: #2D2D2D;
    font-weight: 400;
    font-size: 1rem;
}


.c-comments__container {
    width: 100%;
    position: relative;
}

.c-comments__container_item {
    box-shadow: 0px 0px 9px 0px #69696958;
    padding: 1.5rem;
    display: flex !important;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}

.c-comments_linebreak {
    height: .05rem;
    width: 100%;
    background-color: #989898;
    opacity: .5;
}

.c-comments__user_name {
    color: var(--primary300);
    font-size: 1.1rem;
    font-weight: 500;
}

.comments__slider_previous {
    position: absolute;
    left: 10%;
}

.c-comments__slider_previous, .c-comments__slider_next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    color: #ccc; 
    font-size: 24px; 
}

.c-comments__slider_previous {
    left: -2.5%; 
    z-index: 3;
    border: 0.06rem solid var(--neutral300);
border-radius: 3.38rem;
background: var(--white);
color: var(--neutral800);
width: 3.25rem;
height: 3.25rem;
display: flex;
justify-content: center;
align-items: center;
transition: .1s;

}

.c-comments__slider_next {
    right: -2.5%;
    z-index: 3;
    border: 0.06rem solid var(--neutral300);
border-radius: 3.38rem;
background: var(--white);
color: var(--neutral800);
width: 3.25rem;
height: 3.25rem;
display: flex;
justify-content: center;
align-items: center;
transition: .1s;
}

.c-comments__container {
    position: relative;
}

.c-comments__user_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.c-comments__user_number {
    font-size: 1.13rem;
font-weight: 400;
color: #989898;
}

.c-comments__user_detail_star {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .1rem;
}

.c-comments__user_detail_bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.c-comments__user_detail_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-comments__user_detail_desc {
    color: #989898;
    font-size: 1rem;
}

.c-comments__slider_previous:hover , .c-comments__slider_next:hover {
    background-color: var(--primary400base);
    color: var(--white);
    transition: .3s;
}

.c-comments__bottom .slick-slide {
    padding: 1rem 4rem;  /* Sağdan ve soldan 10px boşluk */
}