.header__main {
    width: 100%;
    height: auto;
}

.header__top {
    padding-top: .9rem;
    padding-bottom: 1.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header__top_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__top_left a {
    font-weight: 500;
    font-size: .9rem;
    padding: .6rem;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--neutral300);
    border-radius: .5rem;
}

.header__top_left .active {
    color: var(--primary300);
    font-weight: 500;
    font-size: .9rem;
    border: 1px solid var(--primary300);
}

.header__top_right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3.7rem;
}

.header__top_payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    text-decoration: none;
    color: var(--black);

    >svg {
        width: 24px;
        transition: .15s;
    }

    >span {
        font-weight: 500;
        font-size: 0.88rem;
        transition: .15s;
    }
}

.header__top_payment:hover {
    >span {
        color: var(--primary300);
        transition: .15s;
    }

    >svg {
        color: var(--primary300);
        transition: .15s;
    }
}

.header__top_lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}

.header__top_lang select {
    font-size: .78rem;
}

.header__bottom {
    width: 100%;
    box-shadow: 0rem 0.13rem 0.25rem 0rem rgba(105, 105, 105, 0.301);
    background: rgb(255, 255, 255);
    padding: 0.38rem 0;
}

.header__bottom  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    column-gap: 3rem;
}

.header__bookc {
    display: flex;
    justify-content: flex-end;
}

.header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .4rem 1rem;
    background-color: var(--inputbg);
    border-radius: 0.5rem;

    > svg {
        color: var(--neutral300);
    }
}

.header__search input {
    background-color: var(--inputbg);
    border: none;
    outline: none;
}

.header__search input::placeholder {
    color: var(--neutral300);
  }

.header__nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1.4rem;
}

.header__nav_links > div {
    position: relative;
}

.header__nav__sublinks {
    margin-top: 2rem;
    position: absolute;
    width: 10rem;
    background-color: var(--white);
    border-top: 2px solid var(--primary400base);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .7rem;
    > a {
        color: var(--white);
        font-size: .9rem !important;
        font-weight: 400 I !important;
    }
}

.header__nav__sublinks a:hover {
    color: var(--primary400base);

}

.header__nav_links div  a {
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.88rem;
    transition: .15s;

}

.header__nav_links div  a:hover {
    color: var(--primary400base);
    transition: .15s;
}

.header__nav__sublinks active {
    opacity: 1;
    transition: .2s;
}

.header__bookc a {
    padding: 0.54rem 0.83rem 0.35rem 0.83rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    background-color: var(--primary400base);
    color: var(--white);
    text-decoration: none;
    border-radius: .5rem;
    transition: .2s;

    > svg {
        font-size: 1.5rem;
    transition: .2s;
    }
}

.header__bookc a:hover {
    background-color: var(--black);
    color: var(--primary400base);
    transition: .2s;

    > svg {
        color: var(--primary400base);
    transition: .2s;
    }
}

.header__mobile_btn {
    display: none;
}

.header__menu_btn {
    display: none;
}


.header__mobile__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
    
}

.header__mobile_search {
    background: var(--primary100);
    padding: .4rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    > svg {
        color: var(--primary400base);
    }

}

.header__mobile_menu {
    transition: ease-in-out 3s;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--primary400base);
}


.header__mobile_search input {
    background-color: var(--primary100);
    outline: none;
    border: none;
}

.header__mobile_search input::placeholder {
    color: var(--primary400base);
}

.header__mobile_nav_links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .7rem;

    > div a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--primary100);
        font-weight: 500;
    }
}

.header__mobile_sublinks {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .3rem;
    padding: .7rem 0% .7rem 10%;

    > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .3rem;
    transition: .15s;
    }
}

.header__mobile_sublinks a:hover {
    color: var(--primary200);
    transition: .15s;
}

.header__mobile_bookc a {
    padding: 0.34rem 0.83rem 0.34rem 0.83rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    background-color: var(--primary100);
    color: var(--white);
    text-decoration: none;
    border-radius: .5rem;

    > svg {
        font-size: 1.5rem;
    }
}



/* ! Responsive */



@media (max-width: 1231px) {
    .header__search , .header__nav_links , .header__bookc {
        display: none;
    }

    .header__mobile_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 3;
    }
    .header__menu_btn {
        display: block;
        font-size: 2rem;
        color: var(--primary400base);
    }
}

@media (max-width: 642px) {
    .header__top {
        grid-template-columns: repeat(1, 1fr);
        row-gap: .5rem;
    }

    .header__top_left {
        justify-content: center;
        gap: .2rem;
    }

    .header__top_right {
        flex-direction: column;
        align-items: center;
        gap: .4rem;
    }
}