.main__onmedia {
    width: 100%;
}

.onmedia__inner {
    padding-top: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.onmedia__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h5 {
        color: var(--black);
        font-size: 3rem;
        font-weight: 600;
    }

    > a {
        color: var(--primary400base);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
    }
}

.onmedia__bottom {
    width: 100%;
}

.onmedia__news {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; /* İki satır yükseklik belirtildi */
    grid-template-areas:
        "first first first"
        "two three four";
    column-gap: 4%;
    row-gap: 2.5rem;
}

.onmedia__news_item:nth-child(1) {
    grid-area: four;
}

.onmedia__news_item:nth-child(2) {
    grid-area: three;
}

.onmedia__news_item:nth-child(3) {
    grid-area: two;
}

.onmedia__news_box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.8rem;
}

.onmedia__news_image {
    width: 100%;

    > img {
        width: 100%;
    }
}

.onmedia__news_labels {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;

    > span:nth-child(1) {
        color: #bfbfbf;
    }

    > span:last-child {
        color: #bfbfbf;
        width: 80%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > h6 {
        color: var(--black);
        font-size: 1.1rem;
        width: 60%;
    }
}

.onmedia__news_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.onmedia__news_head {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;

    > span:nth-child(1) {
        color: #bfbfbf;
    }

    > span:nth-child(2) {
        color: var(--white);
    }
}

.onmedia__news_item:nth-child(4) .onmedia__news_box a {
    border-radius: 0.5rem;
    padding: 0.6rem 2rem;
    background-color: var(--primary400base);
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
}

.onmedia__news_item:nth-child(4) {
    grid-area: first;
    > .onmedia__news_box {
        padding-top: 10.313rem;
        padding-bottom: 2rem;
        padding-left: 3%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.onmedia__news_item:nth-child(4) .onmedia__news_box .onmedia__news_labels {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}

/* ! responsive */


@media (max-width: 790px) {
    .onmedia__news {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "first"
        "two"
        "three"
        "four";
    }
}


@media (max-width: 521px) {
    .onmedia__top {
        flex-direction: column;
        align-items: start;
        gap: .7rem;

        > h5 {
            font-size: 2.25rem;
        }
    }

    
}

